.form{
    display: flex;
    align-items: center;
}
.buscador{
    display: block;
    width: 250px;
    height: 5vh;
    border: none;
    border-radius: 0 2px 2px 0;
   
}
.boton{
    height: 5vh;
    background-color: #dae0e5;
    border-radius: 2px 0px 0px 2px;
    display: block;
    color:black;
}