.container {
  margin-top: 30px;
  margin-bottom: 30px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "menuCategories productos";  
  }

.boton:focus, .boton:active{
  outline: none !important;
  box-shadow: none;
}

  .productos { 
    display: flex;
    grid-area: productos;
    flex-wrap: wrap;
    margin: 0 20px;
    }


