.container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "menuCategories productos";  
  }
  .menuCategories { 
      grid-area: menuCategories; 
    }
  .productos { 
    display: flex;
    grid-area: productos;
    flex-wrap: wrap;
    justify-content: space-between; 
    }